body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    margin: 0;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
}



/*******************nav*************************/

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
    position: relative;
    background-color: beige;
    font-size: 0.7rem;
}
#navItem{
    display: none;
}
.fa-solid{
    padding-right: 40px;
}
.navTitle{
    padding-left: 40px;
}
.navLink{
    color: black;
    transition: 500ms ease;
} .navLink:hover{    color: #deb887;}

/*******************nav*************************/




/********************banner*********************/
#banner{
    position: relative;
    color: aliceblue;
    height: auto;
    text-align: center;
    width: 100%;
    height: auto;
}

.bannerImg{
    position: absolute;
    width: 100%;
}
.bannerTxt{
    padding-top: 45px;
    padding-left: 10px;
    padding-right: 10px;
}
.heading{
    padding-bottom: 15px;
}
.headingPara{
    padding-bottom: 15px;
}
.donate{
    border-radius: 5px;
    width: 40%;
    height: 30px;
}
/********************banner*********************/


/*******************features********************/
#feature{
    margin-top: 50px;
}
.featureH1{
    font-size: 2rem;
}

/*******************features********************/


/*******************donation*******************/
.donationimage{
    display: none;
}
.donationimagealt{
    width: 100%;
}
#donationsec{
    position: relative;
    height: 65vw;
    color: #fff;
    text-align: center;
}
.donationdivision{
    padding: 90px 10px 0;
}
.donationbutton{
    border-radius: 5px;
    background-color: yellow;
    font-weight: bold;
    width: 30vw;
    height: 7vw;
    margin-top: 10px;
}
/*******************donation*******************/




/*******************footer**********************/
#footer{
    background-color: black;
    height: 70vh;
    color: rgb(209, 209, 209);
    /*align-items: center;*/
}

/*******************footer**********************/
